.btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 3px 3px 29px;
  width: 100%;
  max-width: 350px;

  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: $color-cerulean-blue;

  background-color: $color-transparent;
  border: 1px solid $color-cerulean-blue;
  border-radius: 30px;
  cursor: pointer;

  @include vp-767 {
    max-width: 290px;
    padding: 3px 3px 3px 19px;
  }

  &:disabled {
    color: $color-mischka;

    background-color: $color-transparent;
    border: 1px solid $color-mischka;
    pointer-events: none;
  }
}

.btn__circle {
  display: flex;
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  flex-shrink: 0;

  color: $color-default-white;

  background-color: $color-cerulean-blue;
  border-radius: 44px;

  @include vp-767 {
    width: 34px;
    height: 34px;
    margin-left: 20px;
  }
}

.btn:disabled .btn__circle {
  color: $color-default-white-opacity60;

  background-color: $color-mischka;
}

.btn--disabled {
  color: $color-mischka;

  background-color: $color-transparent;
  border: 1px solid $color-mischka;
  pointer-events: none;
}

.btn--disabled .btn__circle {
  color: $color-default-white-opacity60;

  background-color: $color-mischka;
}

.btn:not(.btn--disabled):hover,
.btn:not(.btn--disabled):focus {
  color: $color-default-white;

  background-color: $color-cerulean-blue;
  border: 1px solid $color-cerulean-blue;
  outline: none;
}

.btn:not(.btn--disabled):hover .btn__circle,
.btn:not(.btn--disabled):focus .btn__circle {
  color: $color-cerulean-blue;

  background-color: $color-default-white;
}

.btn:not(.btn--disabled):hover svg,
.btn:not(.btn--disabled):focus svg {
  rotate: 45deg;
}

.btn:not(.btn--disabled):active {
  color: $color-default-white-opacity70;

  background-color: $color-cerulean-blue;
  border: 1px solid $color-cerulean-blue;
}

.btn:not(.btn--disabled):active .btn__circle {
  color: $color-cerulean-blue-opacity70;

  background-color: $color-default-white;
}

.btn:not(.btn--disabled):active svg {
  rotate: 45deg;
}

.btn svg {
  width: 10px;
  height: 10px;
}

.btn span:first-child {
  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }
}

.btn--blue-background {
  color: $color-default-white;

  background-color: $color-cerulean-blue;
  border: 1px solid $color-default-white;

  &:disabled {
    background-color: $color-cerulean-blue;
  }
}

.btn--blue-background .btn__circle {
  color: $color-cerulean-blue;

  background-color: $color-default-white;
}

.btn--blue-background:not(.btn--disabled):hover,
.btn--blue-background:not(.btn--disabled):focus {
  color: $color-cerulean-blue;

  background-color: $color-default-white;
  border: 1px solid $color-default-white;
  outline: none;
}

.btn--blue-background:not(.btn--disabled):hover .btn__circle,
.btn--blue-background:not(.btn--disabled):focus .btn__circle {
  color: $color-default-white;

  background-color: $color-cerulean-blue;
}

.btn--blue-background:not(.btn--disabled):active {
  color: $color-cerulean-blue-opacity70;

  background-color: $color-default-white;
  border: 1px solid $color-default-white;
}

.btn--blue-background:not(.btn--disabled):active .btn__circle {
  color: $color-default-white-opacity70;

  background-color: $color-cerulean-blue;
}

.btn--only-circle {
  padding: 0;

  border: none;
}

.btn--only-circle span:first-child {
  display: none;
}

.btn--only-circle .btn__circle {
  width: 30px;
  height: 30px;
  margin: 0;
}

.btn--only-circle svg {
  width: 10px;
  height: 10px;

  background-size: 10px 10px;
}

.btn--only-circle:not(.btn--disabled):hover,
.btn--only-circle:not(.btn--disabled):focus {
  background-color: $color-default-white;
  border: none;
}

.btn--only-circle:not(.btn--disabled):active {
  color: $color-default-white;
  border: none;
}

.btn--only-circle.btn--disabled {
  border: none;
}
