.btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 3px 3px 29px;
  width: 100%;

  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: $color-cerulean-blue;

  background-color: $color-transparent;
  border: 1px solid $color-cerulean-blue;
  border-radius: 30px;
  cursor: pointer;

  @include vp-767 {
    padding: 3px 3px 3px 19px;
  }

  & .btn__circle {
    display: flex;
    width: 46px;
    height: 46px;
    justify-content: center;
    align-items: center;
    margin-left: 30px;

    color: $color-default-white;

    background-color: $color-cerulean-blue;
    border-radius: 44px;

    @include vp-767 {
      width: 34px;
      height: 34px;
      margin-left: 20px;
    }
  }

  &:disabled {
    color: $color-mischka;

    background-color: $color-transparent;
    border: 1px solid $color-mischka;
    pointer-events: none;

    & .btn__circle {
      color: $color-default-white-opacity60;

      background-color: $color-mischka;
    }
  }

  &.btn--disabled {
    color: $color-mischka;

    background-color: $color-transparent;
    border: 1px solid $color-mischka;
    pointer-events: none;

    & .btn__circle {
      color: $color-default-white-opacity60;

      background-color: $color-mischka;
    }
  }

  &:not(.btn--disabled) {
    &:hover,
    &:focus {
      color: $color-default-white;

      background-color: $color-cerulean-blue;
      border: 1px solid $color-cerulean-blue;
      outline: none;

      & .btn__circle {
        color: $color-cerulean-blue;

        background-color: $color-default-white;
      }

      & .btn__circle svg {
        rotate: 45deg;
      }
    }

    &:active {
      color: $color-default-white-opacity70;

      background-color: $color-cerulean-blue;
      border: 1px solid $color-cerulean-blue;

      & .btn__circle {
        color: $color-cerulean-blue-opacity70;

        background-color: $color-default-white;
      }

      & .btn__circle svg {
        rotate: 45deg;
      }
    }
  }

  &:focus-visible {
    outline: none;
  }
}

.btn svg {
  width: 10px;
  height: 10px;
}

.btn span:first-child {
  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }
}

.btn--blue-background {
  color: $color-default-white;

  background-color: $color-cerulean-blue;
  border: 1px solid $color-default-white;

  & .btn__circle {
    color: $color-cerulean-blue;

    background-color: $color-default-white;
  }

  &:disabled {
    background-color: $color-cerulean-blue;
  }

  &:not(.btn--disabled) {
    &:hover,
    &:focus {
      color: $color-cerulean-blue;

      background-color: $color-default-white;
      border: 1px solid $color-default-white;
      outline: none;

      & .btn__circle {
        color: $color-default-white;

        background-color: $color-cerulean-blue;
      }
    }

    &:active {
      color: $color-cerulean-blue-opacity70;

      background-color: $color-default-white;
      border: 1px solid $color-default-white;

      & .btn__circle {
        color: $color-default-white-opacity70;

        background-color: $color-cerulean-blue;
      }
    }
  }
}

.btn--only-circle {
  padding: 0;

  border: none;

  & span:first-child {
    display: none;
  }

  & .btn__circle {
    width: 30px;
    height: 30px;
    margin: 0;
  }

  & .btn__circle svg {
    width: 10px;
    height: 10px;

    background-size: 10px 10px;
  }

  &:not(.btn--disabled) {
    &:hover,
    &:focus {
      background-color: $color-default-white;
      border: none;
    }

    &:active {
      color: $color-default-white;
      border: none;
    }
  }


  &.btn--disabled {
    border: none;
  }
}
