.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
}

.custom-input label,
.custom-textarea label {
  display: flex;
  width: auto;

  font-size: 14px;
  line-height: 18px;

  opacity: 0.8;

  @include vp-767 {
    line-height: 14px;
  }
}

.custom-input input,
.custom-textarea textarea {
  width: 100%;
  height: 50px;
  padding: 15px 24px;

  font-size: 18px;
  line-height: 18px;

  border: 1px solid $color-charcoal-opacity30;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s ease;

  @include vp-767 {
    height: 44px;
    padding: 14px 22px;

    font-size: 14px;
    line-height: 14px;
  }

  &:disabled {
    border: 1px solid $color-mischka-opacity50;
    background-color: $color-mischka-opacity20;
  }
}

.custom-input input:not(:disabled):hover,
.custom-textarea textarea:not(:disabled):hover {
  border: 1px solid $color-charcoal;
  cursor: pointer;
}

.custom-input input:not(:disabled):focus,
.custom-textarea textarea:not(:disabled):focus {
  border: 1px solid $color-charcoal;
}

.custom-input__error,
.custom-textarea__error {
  position: absolute;
  right: 0;
  bottom: 35px;

  color: #ff1553;

  opacity: 0;

  transition: opacity 0.3s ease;
}

.custom-input.is-invalid input,
.custom-textarea.is-invalid textarea {
  background-color: $color-wild-watermelon-opacity20;
  border: 1px solid $color-wild-watermelon;
}

.custom-input.is-invalid input:focus,
.custom-textarea.is-invalid textarea:focus,
.custom-input.is-invalid input:hover,
.custom-textarea.is-invalid textarea:hover {
  border: 1px solid $color-charcoal;
}

.custom-input .input-message,
.custom-textarea .input-message {
  position: absolute;
  bottom: -15px;
  right: 0;

  font-size: 14px;
  line-height: 14px;

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
  }
}

.custom-input .input-message.is-invalid,
.custom-textarea .input-message.is-invalid {
  color: $color-wild-watermelon;
}
