.header {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 5;

  padding-top: 30px;
  margin-left: -720px;

  transition: transform 1s ease;

  @include vp-1439 {
    margin-left: -384px;
  }

  @include vp-767 {
    padding-top: 20px;
    margin-left: -160px;
  }
}

.header.is-open {
  right: 0;
  bottom: 0;
}

.header.is-hidden {
  transform: translateY(-100%);
}

.header__overlay {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  background-color: $color-black-pearl-opacity40;
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: 1440px;

  @include vp-1439 {
    width: 768px;
  }

  @include vp-767 {
    width: 320px;
  }
}

.header__logo-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;

  background-color: $color-default-white;
  border-radius: 50%;
}

.header__navigation {
  overflow-y: auto;
}

.header__navigation-toggle {
  padding: 3px 3px 3px 19px;
}

.header__navigation-toggle.is-passive {
  background-color: $color-default-white;

  &:disabled {
    background-color: $color-default-white;
  }
}

.header__navigation-toggle.is-passive:hover,
.header__navigation-toggle.is-passive:focus {
  background-color: $color-cerulean-blue;
}

.header__navigation-toggle.is-passive:hover svg,
.header__navigation-toggle.is-passive:focus svg {
  rotate: none;
}

.header__navigation-toggle.is-passive:active {
  background-color: $color-cerulean-blue;
}

.header__navigation-toggle.is-passive:active svg {
  rotate: none;
}

.header__navigation-toggle.is-active {
  background-color: $color-cerulean-blue;
  border: 1px solid $color-cerulean-blue;

  &:disabled {
    background-color: $color-cerulean-blue;
    border: 1px solid $color-mischka;
  }
}

.header__navigation-toggle.is-active:hover,
.header__navigation-toggle.is-active:focus {
  background-color: $color-default-white;
  border: 1px solid $color-default-white;
}

.header__navigation-toggle.is-active:hover svg,
.header__navigation-toggle.is-active:focus svg {
  rotate: none;
}

.header__navigation-toggle.is-active:active {
  background-color: $color-default-white;
  border: 1px solid $color-default-white;
}

.header__navigation-toggle.is-active:active svg {
  rotate: none;
}

.header__navigation-toggle .header__navigation-toggle-circle {
  width: 46px;
  height: 46px;
  margin-left: 20px;
}

.header__navigation-toggle-circle svg {
  width: 20px;
  height: 20px;
}

.header__navigation-toggle span:first-child {
  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }
}

.header__navigation-list {
  display: none;
}

.header.is-open .header__navigation {
  z-index: 10;

  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.header.is-open .header__navigation-list {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  min-width: 286px;
  padding: 35px 25px;
  margin: 0;

  background-color: $color-cerulean-blue;
  border-radius: 16px;
  list-style: none;

  @include vp-767 {
    width: 290px;
  }
}

.header.is-open .header__logo-link {
  @include vp-767 {
    display: none;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 0;

    width: 100%;
    height: 100%;

    background-color: $color-black-pearl-opacity40;
    border-radius: 50%;
  }
}

.header__navigation-item a {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: $color-default-white;

  opacity: 0.7;

  &:focus,
  &:hover {
    opacity: 1;
  }

  &:focus-visible {
    outline: none;
  }
}

.header__navigation-item--submenu > a {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;

  color: $color-default-white;

  &::after {
    content: "";

    width: 12px;
    height: 12px;

    background-image: url("/img/icon-arrow-down.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
}

.header__navigation-sublist {
  display: none;
  flex-direction: column;
  row-gap: 16px;
  padding: 0;
  margin: 0;
  margin-left: 16px;

  list-style: none;
}

.header__navigation-sublist-item a {
  text-transform: none;
}

.header__navigation-item--submenu.is-open .header__navigation-sublist {
  display: flex;
}

.header__navigation-item--submenu.is-open > a {
  margin-bottom: 20px;

  font-weight: 500;

  opacity: 1;

  &::after {
    transform: none;
  }
}
